<div class="sidenav">
    <a class="sidenav-link" href="{{ site.baseurl | prepend: site.url }}/">about</a>

    <!-- Blog -->
    <a class="sidenav-link" href="{{ '/blog/' | prepend: site.baseurl | prepend: site.url }}">blog</a>

    <!-- Pages -->
    {% for page in site.pages %}
      {% if page.title and page.url != "/" %}
        <a class="sidenav-link" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}

    <!-- Search -->
    <a class="page-link" href="{{ '/search/' | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-search" aria-hidden="true"></i></a>
</div>